<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>PsyсhologySky</title>
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <ul class="nav">
        <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
        <li><a href="@Url.Action("Importance", "Home")">О важности терапии</a></li>
        <li><a href="@Url.Action("AboutTherapy", "Home")">Что такое терапия?</a></li>
        <li><a href="@Url.Action("GetPsychologistList", "Psychologist")">Каталог специалистов</a></li>
        <li><a href="@Url.Action("SiteWork", "Home")">Как работает сайт?</a></li>
        <li><a href="@Url.Action("Test", "Home")">Прохождение тестирования</a></li>
        <li><a href="@Url.Action("AboutUs", "Home")">О нас</a></li>
        <li><a href="@Url.Action("Login", "Account")">Вход в личный кабинет</a></li>
    </ul>
    <div class="header-container">
        <h1 class="content">PsychologySky - Жизнь без тревог!</h1><br><br>
        @RenderBody()
    </div>
        <text>Все права защищены. PsyhologySky</text>
</body>
</html>
