@{
    ViewData["Title"] = "Index";
}

<div>
    <button>
        @Html.ActionLink("О важности терапии", "Importance")
    </button>
    <button>
        @Html.ActionLink("Что такое терапия?", "AboutTherapy")
    </button>
    <br><br>
    <button>
        @Html.ActionLink("Как работает сайт?", "SiteWork")
    </button>
    <button>
        @Html.ActionLink("Прохождение тестирования", "Test")
    </button>
    <button>
        @Html.ActionLink("О нас", "AboutUs")
    </button>
</div>

