@{
    ViewData["Title"] = "Index";
}

<div class="container">
        <div class="photo-index-card">
            <div>
                <span class="display">
                    <img class="photo-display-img" src="~/images/therapy.jpg" alt="Sample Image" />
                    @Html.ActionLink("О важности терапии", "Importance")
                </span>
            </div>
        </div>
        <div class="photo-index-card">
            <div>
                <span class="display">
                    <img class="photo-display-img" src="~/images/eye.jpg" alt="Sample Image" />
                    @Html.ActionLink("Что такое терапия?", "AboutTherapy")
                </span>
            </div>
        </div>
    <br><br>
            <div class="photo-index-card">
                <div>
                    <span class="display">
                        <img class="photo-display-img" src="~/images/eye.jpg" alt="Sample Image" />
                        @Html.ActionLink("Как работает сайт?", "SiteWork")
                    </span>
                </div>
            </div>
            <div class="photo-index-card">
                <div>
                    <span class="display">
                        <img class="photo-display-img" src="~/images/mind-river.jpg" alt="Sample Image" />
                        @Html.ActionLink("Прохождение тестирования", "Test")
                    </span>
                </div>
            </div>
            <div class="photo-index-card">
                <div>
                    <span class="display">
                        <img class="photo-display-img" src="~/images/eye.jpg" alt="Sample Image" />
                        @Html.ActionLink("О нас", "AboutUs")
                    </span>
                </div>
            </div>
</div>

