@{
    ViewData["Title"] = "Index";
}

<div class="container">
        <button class="photo-index-card">
            <div>
                <span class="display">
                    @Html.ActionLink("О важности терапии", "Importance")
                    <img class="photo-display-img" src="~/images/therapy.jpg" alt="Sample Image" />
                </span>
            </div>
        </button>
        <button class="photo-index-card">
            <div>
                <span class="display">
                    @Html.ActionLink("Что такое терапия?", "AboutTherapy")
                    <img class="photo-display-img" src="~/images/eye.jpg" alt="Sample Image" />
                </span>
            </div>
        </button>
        <button class="photo-index-card">
            <div>
                <span class="display">
                    @Html.ActionLink("Как работает сайт?", "SiteWork")
                    <img class="photo-display-img" src="~/images/eye.jpg" alt="Sample Image" />
                </span>
            </div>
        </button>
        <button class="photo-index-card">
            <div>
                <span class="display">
                    @Html.ActionLink("Прохождение тестирования", "Test")
                    <img class="photo-display-img" src="~/images/mind-river.jpg" alt="Sample Image" />
                </span>
            </div>
        </button>
        <button class="photo-index-card">
            <div>
                <span class="display">
                    @Html.ActionLink("О нас", "AboutUs")
                    <img class="photo-display-img" src="~/images/eye.jpg" alt="Sample Image" />
                </span>
            </div>
        </button>
</div>

