@{
    ViewData["Title"] = "Index";
}

<div>
    <button>
        <div class="photo-index-card">
            <div>
                <span class="display">
                </span>
            </div>
        </div>
        @Html.ActionLink("О важности терапии", "Importance")
    </button>
    <button>
        <div class="photo-index-card">
            <div>
                <span class="display">
                </span>
            </div>
        </div>
        @Html.ActionLink("Что такое терапия?", "AboutTherapy")
    </button>
    <br><br>
        <button>
            <div class="photo-index-card">
                <div>
                    <span class="display">
                    </span>
                </div>
            </div>
            @Html.ActionLink("Как работает сайт?", "SiteWork")
        </button>
        <button>
            <div class="photo-index-card">
                <div>
                    <span class="display">
                    </span>
                </div>
            </div>
            @Html.ActionLink("Прохождение тестирования", "Test")
        </button>
        <button>
            <div class="photo-index-card">
                <div>
                    <span class="display">
                    </span>
                </div>
            </div>
            @Html.ActionLink("О нас", "AboutUs")
        </button>
</div>

